<div class="navbar">
    <div class="logo">
        <h1><a href="/">BLOG BLOG</a></h1>
    </div>
    <div class="center">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/addblog">Add blog</a>
        </div>
</div>
<hr>
